mixin price-block(data)
  -
    const blocks = data.list || [];

  .levels__blocks
    each block in blocks
      .levels__blocks-wrapper.wow(class=`${block.animation}` data-wow-delay="1.5s")
        .levels__blocks-wrapper-inner
          .levels__blocks-level
            span= block.level
            span level
          p.levels__blocks-price= block.price
          p.levels__blocks-text= block.text

          +button(href="#")
            | Buy

  .levels__blocks-mobile
    .swiper.carousel-price-blocks
      .swiper-wrapper
        each block in blocks
          .swiper-slide
            .levels__blocks-wrapper
              .levels__blocks-wrapper-inner
                .levels__blocks-level
                  span= block.level
                  span level
                p.levels__blocks-price= block.price
                p.levels__blocks-text= block.text
                +button(href="#")
                  | Buy
      .swiper-button-next
      .swiper-button-prev